{% extends "app/navbar.html" %}
{% load static %}
{% block page-style %} <link href="{% static 'app/add-member.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}

<div class="form-container">
  <form method="post" action="{% url 'app:add-member' group_id %}" class="add-member-form">
  {% csrf_token %}
    <h2>Add Member</h2>
    <div class="input">
      {% for field in form %}
      <label>{{ field.label }}</label>
      {{ field }}
      {% endfor %}
    </div>
    <button type='submit'>Submit</button>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  </form>
</div>


{% endblock %}