{% extends "app/base-list.html" %}

{% load static %}
{% block page-style %}<link href="{% static 'app/answered-prayer-list.css' %}" rel="stylesheet">{% endblock %}
{% block list-content %}
<div class="page-container">
    <div class="header">
        <h1>Answered Prayers</h1>
    </div>
    {% if page_obj %}
    {% for answered_prayer in page_obj %}
        <ul class="flex-container">
            <li class="answered-prayer"> {{answered_prayer.content}} </li>
        </ul>
        
    {% endfor %}
    {% else %}
    No answered prayers

    {% endif %}
</div>
{% endblock %}