{% extends "app/base-list.html" %}

{% load static %}
{% block page-style %}<link href="{% static 'app/answered-prayer-list.css' %}" rel="stylesheet">{% endblock %}
{% block list-content %}
<div class="page-container">
    <div class="header">
        <h1>Answered Prayers</h1>
    </div>
    {% if page_obj %}
    {% for answered_prayer in page_obj %}
        <div class="answered-prayer">
            <div class="title-and-date">
                <p class="bold">Request</p>
                <p class="bold">{{answered_prayer.prayer_request.datetime.date}}</p>
            </div>
            <br>
            <p>{{answered_prayer.prayer_request.content}} </p>
            <br>
            <div class="title-and-date">
                <p class="bold">Answer</p>
                <p class="bold">{{answered_prayer.datetime.date}}</p>
            </div>
            <br>
            <p>{{answered_prayer.content}}</p>
        </div>
        
    {% endfor %}
    {% else %}
    No answered prayers

    {% endif %}
</div>
{% endblock %}