{% extends "app/navbar.html" %}
{% load static %}
{% block page-style %} <link href="{% static 'app/create-group.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}

<div class="form-container">
    <form action="{% url 'app:create-group' %}" method="post" class="add-group-form">
    {% csrf_token %}
        <h2 class="form-item">Create Group</h2>
        <div class="input-box form-item">
            <label for="group-name">Group name:</label>
            <input type="text" name="name" id="group-name" required>    
        </div>
        <button type="submit" class="form-item">Submit</button>
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock %}