{% extends "app/navbar.html" %}

{% load static %}
{% block page-style%}<link href="{% static 'app/group-list.css' %}" rel=stylesheet>{% endblock %}
{% block content %}
    <h1>Prayer Groups</h1>
    {% if group_list %}
    {% for group in group_list %}    
        <ul class="flex-container">
            <a href="{% url 'app:group-detail' group.id %} ">
                <li class="group"> {{ group.name }} </li>
            </a>
        </ul>
    {% endfor %}
    {% else %}
        You do not belong to any groups
    {% endif %}
{% endblock %}