{% extends "app/navbar.html" %}

{% load static %}
{% block page-style %} <link rel="stylesheet" href="{% static 'app/group-detail.css' %}">{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="header">
            <h1>Group Prayer Requests</h1>
            <div class="buttons">
                <a href="{% url 'app:prayer-request' %}" class="add-button">Add request</a>
                <a href="{% url 'app:add-member' group.id %}" class="add-button">Add member</a>
            </div>
        </div>
        {% if prayer_list %}
        <ul class="flex-container">
        {% for prayer in prayer_list %}
            <li class="prayer-request">{{ prayer.content }}</li>
        {% endfor %}
        </ul>
        {% else %}
            No prayer requests
        {% endif %}
    </div>
{% endblock %}