{% extends "app/base.html" %}

{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'app/index.css' %}">
<title>Prayer Warrior</title>
{% endblock %}

{% block content %}

<blockquote>"Our Father in heaven, hallowed be your name, your kingdom come, your will be done, on earth as it is in heaven. Give us today our daily bread. And forgive us our debts, as we also have forgiven our debtors. And lead us not into temptation, but deliver us from the evil one."</blockquote>

{% endblock %}