{% extends "app/base.html" %}
{% load static %}

{% block page-style %} <link href="{% static 'app/login.css' %}" rel="stylesheet"> {% endblock %}

{% block content %}
<div class="page-container">
    <div class="flex-container">
        <div class="logo">
            <h1>Prayer Warrior</h1>
            <div class="images">
                <img src="{% static 'app/images/cross.svg' %}" alt="cross" width="100px">
                <img src="{% static 'app/images/sword.svg' %}" alt="sword" width="100px">
            </div>
        </div>

        <div class="form-box">
            <form method="post" action="{% url 'login' %}" class="login-info">
            {% csrf_token %}
                <input type="text" name="username" id="username" placeholder="Username" class="flex-item">
                <input type="password" name="password" id="password" placeholder="Password" class="flex-item">
                <button type="submit" class="flex-item">Log In</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <hr>

            <a href="{% url 'app:register' %}"><button>Register</button></a>

            <div class="messages">
                {% if form.errors %}
                <p>Invalid username and password combination</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                    
                    {% else %}
                    <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}