{% extends "app/base.html" %}

{% load static %}

{% block navbar-style %}
<link rel="stylesheet" href="{% static 'app/navbar.css' %}">
{% endblock %}

{% block navbar %}
<header>
    <h1 id="nav-title"><a href="{% url 'app:index' %}">Prayer Warrior</a></h1>
    <button class="navbar-toggle" onclick="toggleMenu()">Menu</button>
    <nav>
        <ul id="navbar-menu">
            <li><a href="{% url 'app:personal-prayer' %}">Personal Prayers</a></li>
            <li><a href="{% url 'app:group-prayers' %}">Group Prayers</a></li>
            <li><a href="{% url 'app:answered-prayer-list' %}">Answered Prayers</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<script>
  function toggleMenu () {
    document.querySelector("#navbar-menu").classList.toggle('show');
  }
</script>
{% endblock %}

{% block footer %}
<footer>
    <ul>
        <li>Prayer Warrior</li>
        <li>2024</li>
    </ul>
</footer>
{% endblock %}