{% extends "app/navbar.html" %}

{% load static %}
{% block page-style %} <link rel="stylesheet" href="{% static 'app/personal-prayer.css' %}"> {% endblock %}

{% block content %}
<div class="page-container">
    <div class="header">
        <h1>Personal Prayer Requests</h1>
        <a href="{% url 'app:prayer-request' %}" class="add-button">Add request</a>
    </div>
{% if prayer_request_list %}
    <ul class="flex-container">
    {% for prayer_request in prayer_request_list %}
        <li class="prayer-request">{{ prayer_request.content }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items</p>
{% endif %}
</div>
{% endblock %}