{% load static %}

<link rel="stylesheet" href="{% static 'app/navbar.css' %}">

{% if item_list %}
    <ul>
    {% for item in item_list %}
        <li><a href="{% url 'app:detail' item.id %}">{{ item.item_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items</p>
{% endif %}

<form action="{% url 'app:personal-prayer' %}" method="post">
{% csrf_token %}
    {{ form }}
<input type="submit">
</form>

<form action="{% url 'logout' %}" method="post">
{% csrf_token %}
    <input type="submit" value="Logout">
</form>
