{% extends "app/navbar.html" %}

{% load static %}
{% block page-style %} <link rel="stylesheet" href="{% static 'app/personal-prayer.css' %}"> {% endblock %}

{% block content %}
<div class="page-container">
    <div class="header">
        <h1>Personal Prayer Requests</h1>
        <div class="buttons">
            <a href="{% url 'app:prayer-request' %}" class="add-button">Add request</a>
        </div>
    </div>
{% if prayer_request_list %}
    <div class="flex-container">
    {% for prayer_request in page_obj %}
        <div class="prayer-request">
            <div>{{ prayer_request.content }}</div>
            <form method="post" action="{% url 'app:delete-prayer-request' prayer_request.id %}" class="delete-form">
                {% csrf_token %}
                <button type="submit" class="delete-button">X</button>
            </form>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No items</p>
{% endif %}
    <div class="pagination">
        <div class="previous">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number }}"><<</a>
            {% else %}
                <p class="hidden"><<</p>
            {% endif %}

        </div>

        <div class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

        <div class="next">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>></a>
            {% else %}
                <p class="hidden">>></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}