{% extends "app/navbar.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'app/javascript.js' %}"></script>
{% endblock %}

{% block page-style %} <link href="{% static 'app/prayer-request.css' %}" rel="stylesheet"> {% endblock %}

{% block content %}
<div class="form-container">
    <form action="{% url 'app:prayer-request' %}" method="post" id="prayer-request" class="prayer-request-form">
    {% csrf_token %}
        <h2>Add Prayer Request</h2>
        <!-- <div class="form-input">{{ form }}</div> -->
         {% for field in form %}
          <label class="label-class">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        {% endfor %}
        <button type="submit" id="btn" onclick="disableButton()">Add prayer</button>
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
    </form>
</div>



{% endblock %}