{% extends "app/navbar.html" %}
{% load static %}
{% block script %}
    <script src="{% static 'app/javascript.js' %}"></script>
{% endblock %}
{% block content %}
<style>#content{margin-top:7rem;}</style>
<form action="{% url 'app:prayer-request' %}" method="post" id="prayer-request">
{% csrf_token %}
{{ form }}
<button type="submit" id="btn" onclick="disableButton()">Submit</button>
</form>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% endblock %}