:root {
    --primary-color: rgb(25, 25, 112);
    --secondary-color: rgb(255, 255, 240);
    --accent-color: rgb(220, 20, 60);
    --background-color: rgb(248, 248, 255);
    --text-color: rgb(42, 42, 42);
}

body {
    color: var(--text-color);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(images/prayer-3.jpg);
    background-size: contain;
    background-position: bottom;
}

#content {
    margin-top: 5rem;
    padding-bottom: 4rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

h1 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.add-button > i {
  color: var(--secondary-color);
  font-size: 30px;
}

.add-button > div {
  color: var(--secondary-color);
  margin-top: 5px;
}

@media (max-width: 875px) {
  body {
    background-position: bottom 20% center;
  }

  .add-button {
    margin-top: 1rem;
  }
}