:root {
    --primary-color: rgb(25, 25, 112);
    --secondary-color: rgb(255, 255, 240);
    --accent-color: rgb(220, 20, 60);
    --background-color: rgb(248, 248, 255);
    --text-color: rgb(42, 42, 42);
}

body {
    height: 100vh;
    color: var(--text-color);
    box-sizing: border-box;
    background-image: url(images/prayer-3.jpg);
    background-size: cover;
    background-position: 0 5rem;
    background-repeat: no-repeat;
    background-color: black;
}

#content {
    margin-top: 5rem;
    padding-bottom: 4rem;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

h1 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.add-button {
    background-color: rgb(238, 236, 236);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: var(--text-color);
    height: 2rem; 
    font-size: 1rem;
    border: 2px solid black;
}