#content {
    text-align: center;
    margin-top: 7rem;
}

#content ul a {
    text-decoration: none;
    color: var(--text-color);
    margin-top: 1rem;
}

#content ul a:hover {
    color: #b2bfdb;
}

#content ul a:visited {
    color: var(--text-color);
}

#content .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#content .group {
    list-style-type: none;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 2rem;
    width: 50vw;
    background-color: var(--secondary-color);
}