blockquote { 
    padding: 20px 50px;
    margin: 6rem 2rem 0 0;
    color: var(--secondary-color);
    width: 700px;
    font-size: 2.7rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background-image: url(images/prayer-3.jpg);
    background-size: cover;
    background-position: 0 5rem;
}