#content {
    margin-top: 7rem;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prayer-request {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: 2rem;
    width: 80vw;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    width: 80vw;
}

.header > *:nth-child(1) {
    grid-column-start: 2;
}

.header > *:nth-child(2) {
    margin-left: auto;
}

button {
    border-radius: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.delete-form {
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    color: red;
    font-weight: bold;
}

.pagination {
    color: white;
}